html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-image: url("img/ales-krivec.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wrapper {
    width: 60%;
    min-height: 600px;
    background-color: rgba(43, 51, 63, .85);
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    padding: 30px;
}

.header {
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 4rem;
}

p {
    font-size: 1.7rem;
}

.container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

form {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
}

input {
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid rgb(29, 34, 41);
    font-size: 1.7rem;
}

input[type="text"] {
    color: #ffffff;
    background-color: rgba(43, 51, 63, .8);
    padding: 8px 15px;
}

button {
    color: #ffffff;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid rgb(29, 34, 41);
    font-size: 1.7rem;
    height: 40px;
    background-color: rgb(29, 34, 41);
}

.results {
    font-size: 2.4rem;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(43, 51, 63, .85);
}

.results p {
    padding: 8px 15px;
}